.video-hero {
  position: relative;
  width: 95%;
  height: 100vh;
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
}

.video-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  inset: 0;

}

.video-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
  .video-hero {
    height: 60vh;
    min-height: 400px;
  }
}

@media (max-width: 480px) {
  .video-hero {
    height: 50vh;
    min-height: 300px;
  }
}
